.gameContainer
{
	padding: 20px;
	border-radius: 6px;
	background-color: rgb(238, 238, 238);
}

.navbar a.navbar-brand
{
	line-height: normal;
	font-size: 30px;
	padding: 6px 15px 9px 15px;
}

.navbar a,
.navbar p
{
	font-size: 16px;
	line-height: normal;
}

#AboutModalButton:hover
{
	cursor: pointer;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.tile
{
	width: 70px;
	height: 70px;
	padding: 4px;
	border: 1px solid black;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center center;
	float:left;
	position: relative;
}

.tile:after,
.bankTile:after
{
	position: absolute;
	left: 4px;
	bottom: 4px;
	background-color: #e7e7e7;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	border-top-right-radius: 2px;
	padding: 0 4px;
	font-weight: bold;
	color: #777;
}

body #gameContainer.tile-obsticle
{
	border: 0px;
}

.tileRow:first-child .tile
{
	border-top: 0px;
}

.tileRow:last-child .tile
{
	border-bottom: 0px;
}

.tileRow .tile:first-child
{
	border-left: 0px;
}

body #gameContainer .tile-last
{
	border-right: 0px;
}

#gameContainer .panel-field
{
	background: transparent url("../img/bg.jpg") no-repeat center center;
	background-size: 718px 718px;
}

#gameContainer #field
{
	padding: 9px;
	
}

.tileRow
{
	width: 700px;
}

.bankRow
{
	width: 688px;
}

.bankSpacer
{
	float: left;
	width: 338px;
	height: 80px;
	margin-right: 6px;
	text-align: center;
	padding-top: 20px;
}

.bankTile
{
	width: 80px;
	height: 80px;
	padding: 10px;
	border: 0px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	position: relative;
	margin-right: 6px;
	margin-bottom: 6px;
}

.bankRow .bankTile-last
{
	margin-right: 0px;
}

.tile-marshall:after
{
	content: "1";

}

.tile-general:after
{
	content: "2";
}

.tile-colonel:after
{
	content: "3";
}

.tile-major:after
{
	content: "4";
}

.tile-captain:after
{
	content: "5";
}

.tile-lieutenant:after
{
	content: "6";
}

.tile-sergeant:after
{
	content: "7";
}

.tile-miner:after
{
	content: "8";
}

.tile-scout:after
{
	content: "9";
}

.tile-bomb:after
{
	content: "B";
}

.tile-spy:after
{
	content: "S";
}

.tile-flag:after
{
	content: "F";
}

.tile-enemy_covered:after
{
	content: "E";
}